.deliver {

  transform: translateY(60px);

  @include _680 {
    transform: translateY(20px);
    margin-bottom: -120px;
  }

  &__inner {
    height: 106px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include _1250 {
      height: 150px;
      max-width: 100%;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  &__img {
    object-fit: cover;
    opacity: 0.5;

    @include _1250 {
      margin: 10px 5px;
    }

    @include _458 {
      margin-bottom: 10px;
    }
  }
}