@mixin avenirnextcyr-700 {
  font-family: 'avenirnextcyr',
    sans-serif;
  font-weight: 700;
}

@mixin avenirnextcyr-500 {
  font-family: 'avenirnextcyr',
    sans-serif;
  font-weight: 500;
}

@mixin avenirnextcyr-400 {
  font-family: 'avenirnextcyr',
    sans-serif;
  font-weight: 400;
}