@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';

@import '_header/_header.scss';
@import '_about/_about.scss';
@import '_footer/_footer.scss';
@import '_cards/_cards.scss';


.product {
  padding: 60px 0 80px;

  &__wrapper {
    display: flex;
  }

  &__inner {
    display: flex;
    margin-right: 128px;
  }

  &__slider-wrapper {
    width: 155px;
    margin-right: 60px;
  }

  &__small-slider {

    .slick-slide {
      opacity: 0.5;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    .slick-current {
      opacity: 1;
    }
  }

  &__box-small {
    width: 155px;
    height: 155px;
  }

  &__img-small {
    width: 155px;
    height: 155px;
  }

  &__slider-inner {
    max-width: 667px;
  }

  &__img-big {
    max-width: 667px;
    height: 667px;
  }
}


.radio {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

// .product__item {
//   width: 0;
//   height: 0;
//   border-style: solid;
//   border-width: 6px 0 6px 6px;
//   border-color: transparent transparent transparent #3c6b97;
// }


.product__info {}


.product-form {
  font-size: 20px;

  &__btn {
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: $blue;
    padding: 13px 48px 8px 9px;
    border: none;
    cursor: pointer;
    outline: transparent;
  }

  &__box-radio {
    margin-bottom: 24px;
  }

  &__inner {
    margin-bottom: 25px;
  }
}


.product-form__label {}

.product-form__input {}

.product-form__new-radio {}

.product-form__range {}



.product__sprite {
  margin-bottom: 27px;
}

.product__list {
  font-size: 15px;
  color: #9b9b9b;
}

.product__item:not(:last-child) {
  margin-bottom: 24px;
}