.cards {
  padding-top: 105px;
  margin-bottom: 50px;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.card {

  &__item {
    max-width: 385px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 60px;
  }

  &__img {
    height: 385px;
    max-width: 385px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 33px;
    background-color: $grey97;

    &--small {
      height: 370px;
    }
  }

  &--product {
    max-width: 370px;
  }
}


.card-descr {
  text-align: center;
  font-size: 15px;

  &__title {
    @include avenirnextcyr-400;
    margin-bottom: 18px;
  }

  &__text {
    text-transform: uppercase;
    color: $blue;
    margin-bottom: 18px;
  }

  &__price {
    @include avenirnextcyr-500;
    font-size: 20px;
  }

  &--product {
    text-align: left;
    margin-bottom: 20px;

    .card-descr__title {
      font-size: 50px;
    }

    .card-descr__text {
      font-size: 20px;
    }

    .card-descr__product {
      font-size: 20px;
      margin-bottom: 18px;
    }

    .card-descr__price {
      font-size: 50px;
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;


  &__direction {
    height: 50px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    // @include effect;
    border: 1px solid $blue;
    // color: $accent;

    // @include _458 {
    //   padding: 0 5px;
    //   height: 45px;
    // }

    &--prev {
      display: none;
      margin-right: 15px;

      // @include _458 {
      //   margin-right: 5px;
      // }
    }

    &--next {
      margin-left: 15px;

      // @include _458 {
      //   margin-left: 5px;
      // }
    }
  }

  &__list {
    display: flex;
    padding: 0 15px;
  }

  &__item:not(:last-child) {
    margin-right: 15px;

    // @include _458 {
    //   margin-right: 5px;
    // }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    // @include effect;
    // @include rubik-400;
    border: 1px solid $blue;
    // color: $accent;

    // @include _458 {
    //   width: 45px;
    //   height: 45px;
    // }

    &--active {
      background-color: $blue;
      color: #fff;
    }
  }
}