

.video__inner {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 1140px;
  margin-bottom: 100px;

  & iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

}

.top__video {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: block;
  // max-height: calc(210px + (640 - 210) * ((100vw - 320px) / (1440 - 320)));
  border: 1px solid #E0E0E0;
  margin-bottom: 100px;
}

