ul.breadcrumb {
  font-size: 14px;
  line-height: 16px;
  list-style: none;
  margin-top: 20px;
}

ul.breadcrumb li {
  display: inline;
}

ul.breadcrumb li+li:before {
  padding: 4px;
  color: #A6A6A6;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #A6A6A6;
}

ul.breadcrumb li a:hover {
  color: #045394;
}

ul.breadcrumb li:last-child {
  color: #045394;
}