.about {
  margin-bottom: 50px;

  &__wrapper {
    display: flex;

    @include _992 {
      flex-direction: column-reverse;
    }
  }

  &__box-img {
    max-width: 1060px;
    margin-right: 80px;

    @include _992 {
      margin: 0;
    }
  }

  &__bg {
    min-height: 740px;
    object-fit: cover;

    @include _992 {
      margin: 0 auto;
      min-height: calc(240px + (740 - 500) * ((100vw - 320px) / (992 - 320)));
    }
  }

  &__info {
    margin-top: 60px;
    max-width: 480px;

    @include _992 {
      margin: 30px auto;
    }
  }

  &__title {
    font-size: 50px;
    @include avenirnextcyr-700;
    margin-bottom: 50px;

    @include _680 {
      margin-bottom: 25px;
    }
  }

  &__subtitle {
    font-size: 35px;
    @include avenirnextcyr-500;
    margin-bottom: 50px;

    @include _680 {
      font-size: 25px;
      margin-bottom: 25px;
    }
  }

  &__text {
    max-width: 440px;
    color: $grey;
    @include avenirnextcyr-500;

    @include _992 {
      width: auto;
    }

    & p:not(:last-child) {
      margin-bottom: 26px;
    }
  }
}