.header {
  min-height: 95px;
  display: flex;
  align-items: center;
  background-color: $grey97;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include _1250 {
      display: flex;
      justify-content: space-between;
    }
  }

  &__inner {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__menu {
    margin-left: 70px;

    @include _680 {
      margin: 0;
    }
  }

  &__list {
    display: flex;

    @include _680 {
      display: block;
      position: absolute;
      top: 85px;
      left: 0;
      width: calc(100vw - 45px);
      background-color: $grey97;
      transform: translate(-200%);
      z-index: 10;
    }

    &--active {
      transform: translateY(0);
    }
  }

  &__item {
    width: 80px;

    @include _680 {
      width: 100%;
    }

    &:not(:last-child) {
      margin-right: 20px;

      @include _680 {
        margin: 0 0 30px 0;
      }
    }
  }

  &__menu-link {
    position: relative;
    font-size: 15px;
    padding-bottom: 4px;
    border-bottom: 4px solid transparent;
    border-radius: 2px;
    @include menu-efect;

    @include _680 {
      display: block;
      padding: 10px 0;
      text-align: center;
      font-size: 20px;
    }
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--page {
      max-width: 340px;
      width: 100%;
      margin-left: auto;
    }
  }

  &__cart-link {
    position: relative;
    margin-left: 10px;
  }

  &__cart-num {
    position: absolute;
    top: -5px;
    left: 75%;
    width: 17px;
    height: 17px;
    font-size: 12px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: $blue;
    color: #fff;
    text-align: center;
  }
}

.burger-menu {
  position: absolute;
  left: 170px;
  top: 15px;
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
  background-color: $grey;
  border: 1px solid $blue;
  border-radius: 50%;
  border: none;
  overflow: hidden;
  outline: transparent;
  cursor: pointer;
  z-index: 10;
  display: none;

  @include _680 {
    display: block;
  }

  &__btn {
    display: block;
    width: 30px;
    height: 4px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #fff;


    &::before,
    &::after {
      @include before;
      width: 30px;
      height: 4px;
      left: 19%;
      border-radius: 5px;
      background-color: #fff;
    }

    &::before {
      transform: translateY(10px);
    }

    &::after {
      transform: translateY(-10px);
    }
  }

  &--open .burger-menu__btn {
    background: transparent;
    box-shadow: none;
    transform: translateX(-28px);

    &::before {
      transform: rotate(45deg) translate(15px, -15px);
    }

    &::after {
      transform: rotate(-45deg) translate(15px, 15px);
    }
  }
}

.social {
  display: flex;

  &__inner {
    align-self: center;
    margin-right: 50px;

    @include _1250 {
      display: none;
    }
  }

  &__link-tel {
    transition: color 0.5s;

    &:hover {
      color: orangered;
    }

    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  &__list {
    display: flex;

    @include _1250 {
      display: none;
    }
  }

  &__item:not(:last-child) {
    margin-right: 25px;
  }

  &--footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 60px;

    @include _458 {
      margin: 0 auto 20px;
      justify-content: center;
    }

    .social__inner {
      margin: 0;

      @include _1250 {
        display: block;
      }
    }

    .social__list {
      margin-bottom: 18px;

      @include _1250 {
        display: flex;
      }
    }

    .social__link-tel {
      display: block;
      color: #ffffff;
      margin: 0;
      transition: color 0.5s;

      &:hover {
        color: orangered;
      }
    }
  }
}