.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(#000, 0.3);
  z-index: 2;

  &__wrapper {
    width: 100%;
    position: relative;
    top: 25%;

    @include _1250 {
      width: auto;
      margin: 0 10px;
    }
  }

  &__window {
    max-width: 1172px;
    height: 398px;
    margin: 0 auto;
    padding: 13px 14px 70px 35px;
    background-color: #fff;
    opacity: 1;

    @include _992 {
      padding: 10px;
    }
  }

  &__clous-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    @include _992 {
      margin-bottom: 20px;
    }
  }

  &__cart {
    margin-top: 28px;

    @include _992 {
      margin: 0;
    }

    @include _458 {
      font-size: 0;
    }
  }

  &__img {
    display: inline;
    margin-right: 10px;
  }
}

.hidden {
  display: none;
}