.footer {
  min-height: 283px;
  background-color: $blue;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    color: #ffffff;
  }

  &__inner {
    display: flex;
  }

  &__list {
    max-width: 180px;
    @include avenirnextcyr-500;

    &:first-child {
      margin-right: 120px;
    }

    &.footer__list--page {
      .footer__item:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 20px;
  }
}